@charset "UTF-8";
:root {
    -blue: rgb(47, 132, 230);
    -green: rgb(47, 223, 24);
    -light_red: rgb(236, 52, 52);
    -dark_red: rgb(131, 10, 10);
}

*{
    margin: 0;
    padding: 0;

}

body{
    background-color: rgb(118, 231, 216);
}

.var_esqueletoGeral{
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    padding: 45px;
    width: 400px;
    height: 420px;
    border-radius: 15px;
    box-shadow: 1px 1px 25px 2px rgba(0, 0, 0, 0.24)
}

.var_esqueletoGeral h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: -15px;
    }

.var_esqueletoGeral h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding-inline-end: 7px;
    text-align: center;
}

.menuPeso{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 22px;
    box-sizing: border-box;

}

.menuPeso #idPeso {
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 17px;
    font-variant-position: 5px;
    padding-left: 10px;      
    box-sizing: border-box;
}

.menuAltura {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
    padding-bottom: 30px;  
    font-size: 22px;
    box-sizing: border-box;

}

.menuAltura #idAltura{
    width: 100%;
    height: 40px;
    border-radius: 7px;
    margin-top: 5px;
    font-size: 17px;
    padding-left: 10px;      
    box-sizing: border-box;
}

.botaoContar input{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: rgb(21, 204, 21);
    border: 0;
    border-radius: 7px;
    margin-top: 5px;
    box-sizing: border-box;

}

.btnResposta{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgba(250, 20, 20, 0.292);
    width: 100%;
    padding: 5px;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    justify-self: left;
    display: none;
    align-items: center;
    box-sizing: border-box;

}

.classeDIVTabela{
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    display: none;
      
}

.classeDIVTabela td{
    padding-right: 20px;
    padding-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

/* para pintar linha resultado na tela */
.linha-destaque {
    color: rgba(9, 178, 9, 0.91);
    font-weight: bold;
}